nav {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    max-width: 1200px;
    margin: 0 auto;
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav > div {
    padding: 5px;
}


nav > ul > li {
    margin: 0 5px;
}

.nav-link {
    display: inline-block;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.nav-link:hover, .nav-link:focus{
    color: #FF4E50;
    transition: .08s ease-in-out;
}

