<div class="project card" id="{{project.id}}" tabindex="0" *ngFor="let project of projects" (click)="openProject(project.projectUrl)">
    <div class="project-details">
    	<div class="project-image">
			<span><img class="logo logo-{{ project.showLogo }}" alt="logo"  src="{{ project.logoPath }} "><h2>{{ project.name }}</h2></span>
    	</div>
    	<div class="technologies">
    		<ul *ngFor="let point of project.description">
                <li>{{ point }}</li>      
            </ul>
    	</div>
    </div>
</div>

<!-- <div id="project-details-overlay">
	<button (click)="toggleVisibility()">
		<i class="fa fa-times fa-3x" aria-hidden="true"></i>
	</button>
	<div id="container">
		<h3>{{ title }}</h3>
		<hr />
		<p>{{ description }}</p>
		<p>{{ url }}</p>
	</div>
</div>
 -->